<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.efix.cetakkuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cetak_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cetak_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CetakKuy">
        <activity android:name=".auth.admin.DetailPesananAdminActivity" android:theme="@style/Theme.CetakKuy.AUTH"></activity>
        <activity android:name=".auth.admin.HomeAdminActivity" />
        <activity
            android:name=".auth.users.DetailStatusPesananActivity"
            android:theme="@style/Theme.CetakKuy.AUTH" />
        <activity android:name=".auth.users.StatusPesananActivity" />
        <activity android:name=".auth.users.CetakPhotoActivity" />
        <activity android:name=".auth.users.ProfileActivity" />
        <activity android:name=".auth.users.PesansnSuksesActivity" />
        <activity android:name=".auth.users.CetakDokumenActivity" />
        <activity
            android:name=".auth.SplashScreenActivity"
            android:theme="@style/Theme.CetakKuy.AUTH">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".auth.users.HomeUserActivity" />
        <activity
            android:name=".auth.auth.RegisterActivity"
            android:theme="@style/Theme.CetakKuy.AUTH" />
        <activity
            android:name=".auth.auth.LoginActivity"
            android:theme="@style/Theme.CetakKuy.AUTH" />
    </application>

</manifest>